@use 'sass:map';

@use '../../../utils/breakpoints' as bp;

.serving {
  margin: 40px 0;
}

.serving--article {
  h2 {
    font-family: f203;
    font-size: 24px;

    color: #ffffff;

    line-height: 1.4;

    // breakpoints
    // // only sm
    // @include bp.only(sm) {
    // }

    // only md
    @include bp.only(md) {
      font-size: 32px;
    }

    // only lg
    @include bp.only(lg) {
      font-size: 35px;
    }

    // only xl
    @include bp.only(xl) {
      font-size: 40px;
    }

    // only xxl
    @include bp.only(xxl) {
      font-size: 40px;
    }
    // end breakpoints
  }

  p {
    font-size: 14px;
    color: #b8b8b8;

    line-height: 1.4;
  }
}

.b-serving {
  display: grid;
  grid-template-columns: auto;

  padding-top: 35px;

  // breakpoints
  // // only sm
  // @include bp.only(sm) {
  // }

  // // only md
  // @include bp.only(md) {
  // }

  // // only lg
  // @include bp.only(lg) {
  // }

  // // only xl
  // @include bp.only(xl) {
  // }

  // // only xxl
  // @include bp.only(xxl) {
  // }

  // up lg
  @include bp.up(lg) {
    grid-template-columns: 60% 40%;
  }
  // end breakpoints

  > .c1 {
    padding-right: 50px;

    // breakpoints
    // // only sm
    // @include bp.only(sm) {
    // }

    // // only md
    // @include bp.only(md) {
    // }

    // // only lg
    // @include bp.only(lg) {
    // }

    // // only xl
    // @include bp.only(xl) {
    // }

    // // only xxl
    // @include bp.only(xxl) {
    // }

    // up lg
    @include bp.up(lg) {
      padding-right: 0;
    }
    // end breakpoints
  }

  > .c2 {
    // breakpoints
    // // only sm
    // @include bp.only(sm) {
    // }

    // // only md
    // @include bp.only(md) {
    // }

    // // only lg
    // @include bp.only(lg) {
    // }

    // // only xl
    // @include bp.only(xl) {
    // }

    // // only xxl
    // @include bp.only(xxl) {
    // }

    // up lg
    @include bp.up(lg) {
      padding-top: 10px;
    }
    // end breakpoints
  }
}

.serving--list {
  margin-top: 50px;
  background-color: #000000;

  display: grid;
  grid-template-columns: auto;

  // breakpoints
  // only sm
  @include bp.only(sm) {
    grid-template-columns: 1fr 1px 1fr;
  }

  // only md
  @include bp.only(md) {
    grid-template-columns: 1fr 1px 1fr;
  }

  // // only lg
  // @include bp.only(lg) {
  // }

  // // only xl
  // @include bp.only(xl) {
  // }

  // // only xxl
  // @include bp.only(xxl) {
  // }

  // up lg
  @include bp.up(lg) {
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
  }
  // end breakpoints

  > .item {
  }

  > .delimiter {
    background-color: #19161b;

    height: 1px;

    &:nth-child(6n) {
      display: block;
    }

    &:last-child {
      display: none;
    }

    // breakpoints
    // only sm
    @include bp.only(sm) {
      height: auto;

      &:nth-child(6n) {
        display: block;
      }

      &:nth-child(4n) {
        display: none;
      }
    }

    // only md
    @include bp.only(md) {
      height: auto;

      &:nth-child(6n) {
        display: block;
      }

      &:nth-child(4n) {
        display: none;
      }
    }

    // // only lg
    // @include bp.only(lg) {
    // }

    // // only xl
    // @include bp.only(xl) {
    // }

    // // only xxl
    // @include bp.only(xxl) {
    // }

    // up lg
    @include bp.up(lg) {
      height: auto;

      &:nth-child(6n) {
        display: none;
      }
    }
    // end breakpoints
  }
}

.serving--card {
  padding: 20px;

  > h3 {
    margin: 25px 0 10px 0;

    font-family: f203;
    font-size: 22px;

    color: #ffffff;
  }

  p {
    margin: 15px 0 30px 0;
    padding: 0;

    font-size: 14px;
    color: #b8b8b8;
  }
}

.serving--card-icon {
  > .icon {
    font-size: 18px;
    color: #ffb577;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;

    border-radius: 50%;
    background-color: #ffb47725;

    &::before {
    }
  }

  .icon-snacks {
    &::before {
    }
  }

  .icon-grill {
    &::before {
    }
  }

  .icon-fast-food {
    &::before {
    }
  }

  .icon-coffee {
    &::before {
    }
  }

  .icon-cocktails {
    &::before {
    }
  }

  .icon-cake {
    &::before {
    }
  }
}
