.footer-social {
  display: flex;
  flex-direction: row;

  > .item {
    > .link {
    }
  }
}

.social-icon {
  width: 32px;
  height: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  i {
    font-size: 16px;
    color: #ffffff;
    transition: color 0.2s linear;
  }

  &:hover {
    i {
      color: #ffb577;
    }
  }
}
