@use 'sass:map';

@use '../../utils/breakpoints' as bp;

@use './footer-logo';
@use './footer-menu';
@use './footer-copyright';
@use './footer-social';

.footer {
  > .top {
  }

  > .bottom {
    border-top: 1px solid #ffffff2f;
  }
}

.footer-top {
  min-height: 284px;

  display: grid;
  align-content: end;

  > .r1 {
    justify-self: start;

    // breakpoints
    // // only sm
    // @include bp.only(sm) {
    // }

    // // only md
    // @include bp.only(md) {
    // }

    // // only lg
    // @include bp.only(lg) {
    // }

    // only xl
    @include bp.only(xl) {
      justify-self: center;
    }

    // only xxl
    @include bp.only(xxl) {
      justify-self: center;
    }
    // end breakpoints
  }

  > .r2 {
    justify-self: start;

    // breakpoints
    // // only sm
    // @include bp.only(sm) {
    // }

    // // only md
    // @include bp.only(md) {
    // }

    // only lg
    @include bp.only(lg) {
      justify-self: center;
    }

    // only xl
    @include bp.only(xl) {
      justify-self: center;
    }

    // only xxl
    @include bp.only(xxl) {
      justify-self: center;
    }
    // end breakpoints
  }
}

.footer-bottom {
  min-height: 72px;
  padding: 25px 0;

  display: grid;

  align-items: normal;
  justify-items: center;
  grid-template-areas:
    '. c2 .'
    '. c3 .'
    '. c1 .';

  // breakpoints
  // only xs

  // // only sm
  // @include bp.only(sm) {
  // }

  // // only md
  // @include bp.only(md) {
  // }

  // // only lg
  // @include bp.only(lg) {
  // }

  // only xl
  @include bp.only(xl) {
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-template-areas: 'c1 c2 c3';
  }

  // only xxl
  @include bp.only(xxl) {
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-template-areas: 'c1 c2 c3';
  }
  // end breakpoints

  > .c1 {
    grid-area: c1;
    justify-self: center;
  }

  > .c2 {
    grid-area: c2;
    justify-self: center;
  }

  > .c3 {
    grid-area: c3;
    justify-self: center;
    padding: 25px 0;
  }
}
