@use 'sass:map';

@use '../../../utils/breakpoints' as bp;

.blog {
  margin: 100px 0;
}

.blog--article {
  h2 {
    font-family: f203;
    font-size: 24px;
    color: #ffffff;

    text-align: center;

    line-height: 1.5;

    // breakpoints
    // // only sm
    // @include bp.only(sm) {
    // }

    // only md
    @include bp.only(md) {
      font-size: 32px;
    }

    // only lg
    @include bp.only(lg) {
      font-size: 35px;
    }

    // only xl
    @include bp.only(xl) {
      font-size: 40px;
    }

    // only xxl
    @include bp.only(xxl) {
      font-size: 40px;
    }
    // end breakpoints
  }
}

.blog-cards {
  margin-top: 50px;

  > .item {
    margin: 25px 0 25px 0;

    &:first-child {
      margin: 0 0 25px 0;
    }

    &:last-child {
      margin: 25px 0 0 0;
    }
  }
}

.blog-card {
  display: grid;
  grid-template-columns: auto;

  // breakpoints
  // // only sm
  // @include bp.only(sm) {
  // }

  // // only md
  // @include bp.only(md) {
  // }

  // // only lg
  // @include bp.only(lg) {
  // }

  // // only xl
  // @include bp.only(xl) {
  // }

  // // only xxl
  // @include bp.only(xxl) {
  // }

  // up lg
  @include bp.up(lg) {
    grid-template-columns: 400px 1fr;
  }
  // end breakpoints

  > .img {
    img {
      display: block;
      max-width: 100%;
    }
  }

  > .b {
    display: grid;
    grid-template-rows: auto auto 1fr auto;

    padding-top: 25px;
    color: #b8b8b8;

    // breakpoints
    // // only sm
    // @include bp.only(sm) {
    // }

    // // only md
    // @include bp.only(md) {
    // }

    // // only lg
    // @include bp.only(lg) {
    // }

    // // only xl
    // @include bp.only(xl) {
    // }

    // // only xxl
    // @include bp.only(xxl) {
    // }

    // up lg
    @include bp.up(lg) {
      padding-left: 25px;
    }
    // end breakpoints

    > .time {
      font-size: 12px;
    }

    > .title {
      padding-top: 10px;

      > h3 {
        font-family: f203;
        font-size: 18px;

        color: #ffffff;
      }
    }

    > .text {
      padding-top: 10px;

      p {
        margin: 0;
        padding: 0;

        font-size: 14px;

        line-height: 1.4;
      }
    }

    > .more {
      text-align: right;

      // breakpoints
      // // only sm
      // @include bp.only(sm) {
      // }

      // // only md
      // @include bp.only(md) {
      // }

      // // only lg
      // @include bp.only(lg) {
      // }

      // // only xl
      // @include bp.only(xl) {
      // }

      // // only xxl
      // @include bp.only(xxl) {
      // }

      // up lg
      @include bp.up(lg) {
        padding-top: 15px;
      }
      // end breakpoints
    }
  }
}
