.callback-button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;

    height: 35px;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;

    .t{
        padding-right: 5px;
        
        font-family: f102;
        font-size: 14px;

        color: #FFC492;
    }

    .icon{
        font-size: 10px;
        color: #FFFFFF;
        transition: color .2s linear;
    }

    &:hover{

        .icon{
            color: #FFC492;
        }
    }
}