@use 'sass:map';

@use '../utils/breakpoints' as bp;

.to-page-link {
  background-color: #ffb577;
  transition: background-color 0.2s linear;

  display: inline-flex;
  align-items: center;

  width: auto;

  height: 32px;
  padding: 0 15px;

  &:hover {
    background-color: #ffc492;
  }

  // breakpoints
  // // only sm
  // @include bp.only(sm) {
  // }

  // // only md
  // @include bp.only(md) {
  // }

  // // only lg
  // @include bp.only(lg) {
  // }

  // // only xl
  // @include bp.only(xl) {
  // }

  // // only xxl
  // @include bp.only(xxl) {
  // }

  @include bp.up(lg) {
    height: 48px;
    padding: 0 25px;
  }
  // end breakpoints

  .t {
    font-family: f102;
    font-size: 14px;
    color: #2e2d33;
  }

  .icon {
    padding-left: 10px;
    font-size: 8px;
    color: #2e2d33;
  }
}
