@use '../../../settings/breakpoints';

.b-main-info {
  margin-top: 95px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: 50% 50%;

  @include breakpoints.media-breakpoint-only(xl) {
    margin-top: 90px;
  }

  // @include breakpoints.media-breakpoint-only(lg) {}

  // @include breakpoints.media-breakpoint-only(md) {}

  // @include breakpoints.media-breakpoint-only(sm) {}

  // @include breakpoints.media-breakpoint-only(xs) {}

  @include breakpoints.media-breakpoint-down(xl) {
    margin-top: 50px;
  }

  @include breakpoints.media-breakpoint-down(lg) {
    grid-template-columns: auto;
    gap: 50px;
  }

  > .c1 {
    align-self: center;
    padding-right: 25px;

    // @include breakpoints.media-breakpoint-only(xl) {}

    // @include breakpoints.media-breakpoint-only(lg) {}

    @include breakpoints.media-breakpoint-only(md) {
      width: 80%;
    }

    @include breakpoints.media-breakpoint-only(sm) {
      width: 80%;
    }

    // @include breakpoints.media-breakpoint-only(xs) {}

    // @include breakpoints.media-breakpoint-down(xl){}

    @include breakpoints.media-breakpoint-down(lg) {
      padding-right: 0;
    }
  }

  > .c2 {
  }
}

.main-info--banner {
  display: block;
  max-width: 100%;
}

.main-info--article {
  > h1 {
    font-family: f203;
    font-size: 58px;
    color: #ffffff;

    @include breakpoints.media-breakpoint-only(xl) {
      font-size: 48px;
    }

    @include breakpoints.media-breakpoint-only(lg) {
      font-size: 38px;
    }

    @include breakpoints.media-breakpoint-only(md) {
      font-size: 28px;
    }

    @include breakpoints.media-breakpoint-only(sm) {
      font-size: 28px;
    }

    @include breakpoints.media-breakpoint-only(xs) {
      font-size: 24px;
    }
  }

  p {
    margin: 15px 0 20px 0;
    padding: 0;

    font-size: 16px;
    color: #b8b8b8;

    // @include breakpoints.media-breakpoint-only(xl) {}

    // @include breakpoints.media-breakpoint-only(lg) {}

    // @include breakpoints.media-breakpoint-only(md) {}

    // @include breakpoints.media-breakpoint-only(sm) {}

    // @include breakpoints.media-breakpoint-only(xs) {}

    @include breakpoints.media-breakpoint-down(xl) {
      font-size: 14px;
    }
  }
}

.main-info--list {
  margin-top: 50px;

  @include breakpoints.media-breakpoint-only(xl) {
    margin-top: 40px;
  }

  // @include breakpoints.media-breakpoint-only(lg) {}

  // @include breakpoints.media-breakpoint-only(md) {}

  // @include breakpoints.media-breakpoint-only(sm) {}

  // @include breakpoints.media-breakpoint-only(xs) {}

  @include breakpoints.media-breakpoint-down(xl) {
    margin-top: 35px;
  }

  > .item {
    font-family: f203;
    font-size: 20px;
    color: #ffffff;

    margin: 15px 0 15px 0;

    &:first-child {
      margin: 0 0 15px 0;
    }

    &:last-child {
      margin: 15px 0 0 0;
    }

    &:only-child {
      margin: 0 0 0 0;
    }

    // @include breakpoints.media-breakpoint-only(xl) {}

    // @include breakpoints.media-breakpoint-only(lg) {}

    // @include breakpoints.media-breakpoint-only(md) {}

    // @include breakpoints.media-breakpoint-only(sm) {}

    // @include breakpoints.media-breakpoint-only(xs) {}

    @include breakpoints.media-breakpoint-down(xl) {
      font-size: 16px;
    }
  }
}

.main-info--sublist {
  padding-top: 5px;

  > .item {
    font-family: f101;
    font-size: 16px;
    color: #b8b8b8;

    margin: 5px 0 5px 0;

    &:first-child {
      margin: 0 0 5px 0;
    }

    &:last-child {
      margin: 5px 0 0 0;
    }

    &:only-child {
      margin: 0 0 0 0;
    }

    // @include breakpoints.media-breakpoint-only(xl) {}

    // @include breakpoints.media-breakpoint-only(lg) {}

    // @include breakpoints.media-breakpoint-only(md) {}

    // @include breakpoints.media-breakpoint-only(sm) {}

    // @include breakpoints.media-breakpoint-only(xs) {}

    @include breakpoints.media-breakpoint-down(xl) {
      font-size: 14px;
    }
  }
}
