@use 'sass:map';

@use '../../../utils/breakpoints' as bp;

.b-main-info {
  margin-top: 25px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: auto;
  gap: 25px;

  // breakpoints
  // // only sm
  // @include bp.only(sm) {
  // }

  // // only md
  // @include bp.only(md) {
  // }

  // // only lg
  // @include bp.only(lg) {
  // }

  // // only xl
  // @include bp.only(xl) {
  // }

  // // only xxl
  // @include bp.only(xxl) {
  // }

  // up lg
  @include bp.up(lg) {
    grid-template-columns: 50% 50%;
    gap: 0;
  }
  // end breakpoints

  > .c1 {
    // breakpoints
    // // only sm
    // @include bp.only(sm) {
    // }

    // // only md
    // @include bp.only(md) {
    // }

    // // only lg
    // @include bp.only(lg) {
    // }

    // // only xl
    // @include bp.only(xl) {
    // }

    // // only xxl
    // @include bp.only(xxl) {
    // }

    // up lg
    @include bp.up(lg) {
      align-self: center;
    }
    // end breakpoints
  }

  > .c2 {
    // breakpoints
    // only xs
    @include bp.only(xs) {
      justify-self: center;
    }

    // // only sm
    // @include bp.only(sm) {
    // }

    // // only md
    // @include bp.only(md) {
    // }

    // // only lg
    // @include bp.only(lg) {
    // }

    // // only xl
    // @include bp.only(xl) {
    // }

    // // only xxl
    // @include bp.only(xxl) {
    // }
    // end breakpoints
  }
}

.main-info--banner {
  display: block;
}

.main-info--article {
  // breakpoints
  // // only sm
  // @include bp.only(sm) {
  // }

  // // only md
  // @include bp.only(md) {
  // }

  // // only lg
  // @include bp.only(lg) {
  // }

  // // only xl
  // @include bp.only(xl) {
  // }

  // // only xxl
  // @include bp.only(xxl) {
  // }

  // up lg
  @include bp.up(lg) {
    align-self: center;
    padding-right: 25px;
  }
  // end breakpoints

  > h1 {
    font-family: f203;
    font-size: 24px;
    color: #ffffff;
    text-align: center;

    // breakpoints
    // // only sm
    // @include bp.only(sm) {
    // }

    // only md
    @include bp.only(md) {
      font-size: 32px;
    }

    // only lg
    @include bp.only(lg) {
      font-size: 38px;
    }

    // only xl
    @include bp.only(xl) {
      font-size: 48px;
    }

    // only xxl
    @include bp.only(xxl) {
      font-size: 48px;
    }

    // up sm
    @include bp.up(sm) {
      text-align: left;
    }
    // end breakpoints
  }

  p {
    margin: 15px 0 20px 0;
    padding: 0;

    font-size: 14px;
    color: #b8b8b8;
  }
}

.main-info--list {
  margin-top: 25px;

  > .item {
    font-family: f203;
    font-size: 16px;
    color: #ffffff;

    margin: 15px 0 15px 0;

    &:first-child {
      margin: 0 0 15px 0;
    }

    &:last-child {
      margin: 15px 0 0 0;
    }

    &:only-child {
      margin: 0 0 0 0;
    }
  }
}

.main-info--sublist {
  padding-top: 5px;

  > .item {
    font-family: f101;
    font-size: 14px;
    color: #b8b8b8;

    margin: 5px 0 5px 0;

    &:first-child {
      margin: 0 0 5px 0;
    }

    &:last-child {
      margin: 5px 0 0 0;
    }

    &:only-child {
      margin: 0 0 0 0;
    }
  }
}
