@font-face {
  font-family: 'icons';
  src:
    url('./icons.ttf?c7944590c6355ba6a3187174e8407033') format('truetype'),
    url('./icons.woff?c7944590c6355ba6a3187174e8407033') format('woff'),
    url('./icons.woff2?c7944590c6355ba6a3187174e8407033') format('woff2');
}

i[class^='icon-']:before,
i[class*=' icon-']:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote:before {
  content: '\f101';
}
.icon-know-more:before {
  content: '\f102';
}
.icon-arrow-1:before {
  content: '\f103';
}
.icon-serving-snacks:before {
  content: '\f104';
}
.icon-serving-quote:before {
  content: '\f105';
}
.icon-serving-grill:before {
  content: '\f106';
}
.icon-serving-fast-food:before {
  content: '\f107';
}
.icon-serving-coffee:before {
  content: '\f108';
}
.icon-serving-cocktails:before {
  content: '\f109';
}
.icon-serving-cake:before {
  content: '\f10a';
}
.icon-footer-socials-tw:before {
  content: '\f10b';
}
.icon-footer-socials-in:before {
  content: '\f10c';
}
.icon-footer-socials-ig:before {
  content: '\f10d';
}
.icon-footer-socials-fb:before {
  content: '\f10e';
}
