@use 'sass:map';

@use '../../../utils/breakpoints' as bp;

.know-more {
  margin: 100px 0;

  // breakpoints
  // // only sm
  // @include bp.only(sm) {
  // }

  // // only md
  // @include bp.only(md) {
  // }

  // // only lg
  // @include bp.only(lg) {
  // }

  // // only xl
  // @include bp.only(xl) {
  // }

  // // only xxl
  // @include bp.only(xxl) {
  // }
  // end breakpoints
}

.b-know-more {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;

  // breakpoints
  // // only sm
  // @include bp.only(sm) {
  // }

  // // only md
  // @include bp.only(md) {
  // }

  // // only lg
  // @include bp.only(lg) {
  // }

  // // only xl
  // @include bp.only(xl) {
  // }

  // // only xxl
  // @include bp.only(xxl) {
  // }

  // up lg
  @include bp.up(lg) {
    grid-template-columns: 50% 50%;
    gap: 0;
  }
  // end breakpoints

  > .c1 {
  }

  > .c2 {
  }
}

.know-more--article {
  > h2 {
    margin-top: 30px;
    margin-bottom: 10px;

    font-family: f203;
    font-size: 24px;
    color: #ffffff;

    line-height: 1.5;

    // breakpoints
    // // only sm
    // @include bp.only(sm) {
    // }

    // only md
    @include bp.only(md) {
      font-size: 32px;
    }

    // only lg
    @include bp.only(lg) {
      font-size: 35px;
    }

    // only xl
    @include bp.only(xl) {
      font-size: 40px;
    }

    // only xxl
    @include bp.only(xxl) {
      font-size: 40px;
    }
    // end breakpoints
  }

  p {
    font-size: 14px;
    color: #b8b8b8;

    line-height: 1.4;
  }
}

.know-more--list {
  margin-top: 45px;

  display: grid;
  grid-template-columns: auto;
  gap: 20px;

  // breakpoints
  // only sm
  @include bp.only(sm) {
    width: 75%;
  }

  // // only md
  @include bp.only(md) {
    width: 75%;
  }

  // only lg
  @include bp.only(lg) {
    width: 75%;
  }

  // only xl
  @include bp.only(xl) {
    grid-template-columns: auto auto auto;
  }

  // only xxl
  @include bp.only(xxl) {
    grid-template-columns: auto auto auto;
  }

  // up xl
  @include bp.up(xl) {
  }
  // end breakpoints

  > .item {
  }
}

.know-more-item {
  color: #b8b8b8;

  > .title {
  }

  > .text {
    padding-top: 15px;

    font-size: 14px;

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.know-more-item-title {
  > .title {
    height: 35px;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;

    align-items: center;

    > .icon {
      font-size: 24px;
      color: #ffb577;
    }

    > .t {
      font-family: f102;
      font-size: 22px;

      color: #c4e4ea;
    }
  }

  > .subtitle {
    padding-top: 10px;
    font-size: 14px;
  }
}

.know-more--link {
  margin-top: 35px;
}

.know-more--images {
  min-height: 650px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  // breakpoints
  // only sm
  @include bp.only(sm) {
    min-height: auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  // only md
  @include bp.only(md) {
    min-height: auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  // only lg
  @include bp.only(lg) {
    flex-direction: row;
    gap: 15px;
  }

  // only xl
  @include bp.only(xl) {
    flex-direction: row;
    gap: 35px;
  }

  // only xxl
  @include bp.only(xxl) {
    flex-direction: row;
    gap: 50px;
  }

  // sm up
  @include bp.up(sm) {
    align-items: normal;
  }

  // lg up
  @include bp.up(lg) {
    justify-content: flex-end;
  }
  // end breakpoints

  > .picture-1 {
    // breakpoints
    // only sm
    @include bp.only(sm) {
      align-self: auto;
    }

    // only md
    @include bp.only(md) {
      align-self: auto;
    }

    // only lg
    @include bp.only(lg) {
      align-self: flex-end;
    }

    // only xl
    @include bp.only(xl) {
      align-self: flex-end;
    }

    // only xxl
    @include bp.only(xxl) {
      align-self: flex-end;
    }
    // end breakpoints

    img {
      display: block;
    }
  }

  > .picture-2 {
    // breakpoints
    // only sm
    @include bp.only(sm) {
      align-self: auto;
    }

    // only md
    @include bp.only(md) {
      align-self: auto;
    }

    // only lg
    @include bp.only(lg) {
      align-self: flex-start;
    }

    // only xl
    @include bp.only(xl) {
      align-self: flex-start;
    }

    // only xxl
    @include bp.only(xxl) {
      align-self: flex-start;
    }
    // end breakpoints

    img {
      display: block;
    }
  }
}
