@use 'sass:map';

@use '../../utils/breakpoints' as bp;
@use '../../utils/breakpoints' as container;

@use './main-menu';
@use './mobile-menu-btn';

.header-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;

  z-index: 1000;
}

.header {
  min-width: 320px;
  max-width: 1920px;

  margin: 0 auto;
  background: #19161b;
}

.header-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  // breakpoints
  // only xs
  min-height: 40px;

  // // only sm
  // @include bp.only(sm) {
  // }

  // // only md
  // @include bp.only(md) {
  // }

  // only lg
  @include bp.only(lg) {
    min-height: 45px;
  }

  // only xl
  @include bp.only(xl) {
    min-height: 50px;
  }

  // only xxl
  @include bp.only(xxl) {
    min-height: 80px;
  }
  // end breakpoints

  > .logo-link {
    font-family: f102;
    font-size: 16px;
    color: #ffb577;
  }

  > .c1 {
    // breakpoints
    // only xs

    // // only sm
    // @include bp.only(sm) {
    // }

    // // only md
    // @include bp.only(md) {
    // }

    // // only lg
    // @include bp.only(lg) {
    // }

    // // only xl
    // @include bp.only(xl) {
    // }

    // // only xxl
    // @include bp.only(xxl) {
    // }

    @include bp.down(lg) {
      display: none;
    }
    // end breakpoints
  }

  > .c2 {
    // breakpoints
    // only xs

    // // only sm
    // @include bp.only(sm) {
    // }

    // // only md
    // @include bp.only(md) {
    // }

    // // only lg
    // @include bp.only(lg) {
    // }

    // // only xl
    // @include bp.only(xl) {
    // }

    // // only xxl
    // @include bp.only(xxl) {
    // }

    @include bp.down(lg) {
      justify-self: center;
    }
    // end breakpoints
  }

  > .c3 {
    display: none;

    // breakpoints
    // only xs

    // // only sm
    // @include bp.only(sm) {
    // }

    // // only md
    // @include bp.only(md) {
    // }

    // // only lg
    // @include bp.only(lg) {
    // }

    // // only xl
    // @include bp.only(xl) {
    // }

    // // only xxl
    // @include bp.only(xxl) {
    // }

    @include bp.down(lg) {
      display: block;
    }
    // end breakpoints
  }
}
