<footer class="footer">
    <div class="top g">
        <div class="container">
            <div class="footer-top">
                <div class="r1">
                    <div class="footer-logo">Cafe</div>
                </div>

                <div class="r2">
                    <nav class="footer-nav">
                        <ul class="footer-menu">
                            <li class="item">
                                <a href="" class="link">Home</a>
                            </li>

                            <li class="item">
                                <a href="" class="link">Menu</a>
                            </li>

                            <li class="item">
                                <a href="" class="link">About Us</a>
                            </li>

                            <li class="item">
                                <a href="" class="link">Our story</a>
                            </li>

                            <li class="item">
                                <a href="" class="link">Blog</a>
                            </li>

                            <li class="item">
                                <a href="" class="link">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom g">
        <div class="container">
            <div class="footer-bottom">
                <div class="c1">
                    <div class="footer-copyright">
                        <span class="copyright">&#169;</span>
                        <span class="title">Cafe</span>
                        <span class="delimiter">|</span>
                        <span class="text">All Rights Reserved</span>
                    </div>
                </div>

                <div class="c2">
                    <ul class="footer-social">
                        <li class="item">
                            <a href="/fb" class="link">
                                <div class="social-icon">
                                    <i class="icon icon-fb"></i>
                                </div>
                            </a>
                        </li>

                        <li class="item">
                            <a href="/tw" class="link">
                                <div class="social-icon">
                                    <i class="icon icon-tw"></i>
                                </div>
                            </a>
                        </li>

                        <li class="item">
                            <a href="/ig" class="link">
                                <div class="social-icon">
                                    <i class="icon icon-ig"></i>
                                </div>
                            </a>
                        </li>

                        <li class="item">
                            <a href="/in" class="link">
                                <div class="social-icon">
                                    <i class="icon icon-in"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="c3">
                    <button class="callback-button">
                        <span class="t">Call Back</span>
                        <i class="icon icon-link-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>
