<footer class='footer'>
  <div class='top g'>
    <div class='container'>
      <div class='footer-top'>
        <div class='r1'>
          <div class='footer-logo'>Cafe</div>
        </div>

        <div class='r2'>
          <nav class='footer-nav'>
            <ul class='footer-menu'>
              <li class='item'>
                <a href='./' class='link'>Home</a>
              </li>

              <li class='item'>
                <a href='./menu.html' class='link'>Menu</a>
              </li>

              <li class='item'>
                <a href='./about.html' class='link'>About Us</a>
              </li>

              <li class='item'>
                <a href='./our-story.html' class='link'>Our Story</a>
              </li>

              <li class='item'>
                <a href='./blog.html' class='link'>Blog</a>
              </li>

              <li class='item'>
                <a href='./contacts.html' class='link'>Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class='bottom g'>
    <div class='container'>
      <div class='footer-bottom'>
        <div class='c1'>
          <div class='footer-copyright'>
            <span class='copyright'>&#169;</span>
            <span class='title'>Cafe</span>
            <span class='delimiter'>|</span>
            <span class='text'>All Rights Reserved</span>
          </div>
        </div>

        <div class='c2'>
          <ul class='footer-social'>
            <li class='item'>
              <a href='/fb' class='link' aria-label='Facebook'>
                <div class='social-icon'>
                  <i class='icon icon-footer-socials-fb'></i>
                </div>
              </a>
            </li>

            <li class='item'>
              <a href='/tw' class='link' aria-label='Twitter'>
                <div class='social-icon'>
                  <i class='icon icon-footer-socials-tw'></i>
                </div>
              </a>
            </li>

            <li class='item'>
              <a href='/ig' class='link' aria-label='Instagram'>
                <div class='social-icon'>
                  <i class='icon icon-footer-socials-ig'></i>
                </div>
              </a>
            </li>

            <li class='item'>
              <a href='/in' class='link'>
                <div class='social-icon'>
                  <i class='icon icon-footer-socials-in' aria-label='LinkedIn'></i>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class='c3'>
          <button class='callback-button'>
            <span class='t'>Call Back</span>
            <i class='icon icon-arrow-1'></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>