<header class="header-fixed">
    <div class="header g">
        <div class="container">
            <div class="header-container">
                <a href="/" class="logo-link">Cafe</a>

                <div class="c1">
                    <nav class="main-nav">
                        <ul class="main-menu">
                            <li class="item">
                                <a href="./" class="link">Home</a>
                            </li>

                            <li class="item">
                                <a href="./menu.html" class="link">Menu</a>
                            </li>

                            <li class="item">
                                <a href="./about.html" class="link">About Us</a>
                            </li>

                            <li class="item">
                                <a href="./our-story.html" class="link">Our Story</a>
                            </li>

                            <li class="item">
                                <a href="./blog.html" class="link">Blog</a>
                            </li>

                            <li class="item">
                                <a href="./contacts.html" class="link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="c2">
                    <button class="callback-button">
                        <span class="t">Call Back</span>
                        <i class="icon icon-link-2"></i>
                    </button>
                </div>

                <div class="c3">
                    <div class="mobile-menu-btn">
                        <div class="container">
                            <div class="line top"></div>
                            <div class="line center"></div>
                            <div class="line bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
