<meta charset='UTF-8' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<title>Cafe</title>

<link rel='preload' href='./images/main-info/slide-xs-320.webp' as='image' type='image/webp' />
<link rel='preload' href='./images/main-info/slide-xs-360.webp' as='image' type='image/webp' />
<link rel='preload' href='./images/main-info/slide-xs-375.webp' as='image' type='image/webp' />
<link rel='preload' href='./images/main-info/slide-xs-390.webp' as='image' type='image/webp' />
<link rel='preload' href='./images/main-info/slide-xs-410.webp' as='image' type='image/webp' />
<link rel='preload' href='./images/main-info/slide-xs-430.webp' as='image' type='image/webp' />
<link rel='preload' href='./images/main-info/slide-sm.webp' as='image' type='image/webp' />
<link rel='preload' href='./images/main-info/slide-md.webp' as='image' type='image/webp' />
<link rel='preload' href='./images/main-info/slide-lg.webp' as='image' type='image/webp' />
<link rel='preload' href='./images/main-info/slide-xl.webp' as='image' type='image/webp' />
<link rel='preload' href='./images/main-info/slide-xxl.webp' as='image' type='image/webp' />

<link rel='stylesheet' href='{{resolve-from-root "style.scss"}}' />