@use './icons';

// Poppins
// basefont: Poppins-Regular
// buttonfont: Poppins-Medium

@font-face {
    font-family: 'basefont';
    src: url('./fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'buttonfont';
    src: url('./fonts/poppins/Poppins-Medium.ttf');
}

// Playfair Display
// titlefont: PlayfairDisplay-Bold

@font-face {
    font-family: 'titlefont';
    src: url('./fonts/playfair-display/PlayfairDisplay-Bold.ttf');
}