@use './icons';

// ==============================
// Poppins
// Poppins-Regular
// Poppins-Medium

@font-face {
  font-family: 'f101';
  src: url('./fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'f102';
  src: url('./fonts/poppins/Poppins-Medium.ttf');
}

// ==============================
// Playfair Display
// PlayfairDisplay-Regular
// PlayfairDisplay-Medium
// PlayfairDisplay-Bold

@font-face {
  font-family: 'f201';
  src: url('./fonts/playfair-display/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'f202';
  src: url('./fonts/playfair-display/PlayfairDisplay-Medium.ttf');
}

@font-face {
  font-family: 'f203';
  src: url('./fonts/playfair-display/PlayfairDisplay-Bold.ttf');
}
